<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")

        <script src="~/Scripts/jquery.signalR-2.1.1.min.js"></script>
        <script src="signalr/hubs"></script>
    </head>
    <body>               
           
                @RenderBody()          
       
              
        @RenderSection("scripts", required: false)

        <script type="text/javascript">
            $(function () {
                //$.connection - набор всех хабов в проекте
                
                var hub = $.connection.mySignalRHub;

                //handler
                //hub.client.pow = function (message) {
                //    console.log(message);
                //};

                // Start the connection.
                //$.connection.hub.start().done(function () {
                //    console.log('SignalR Started!');
                //});
            });


    </script>
    </body>
</html>
